MAILTO="nikasa.1889@gmail.com,ttaique@gmail.com"
PYTHONIOENCODING=utf8
0 10 * * * /usr/local/bin/python3 /workspace/Parse.py >> /var/log/cron.log 2>&1
# * * * * * echo "Hello world" >> /var/log/cron.log 2>&1

